body {
    background: url(bg-img.jpeg) no-repeat center center/cover;
    font-family: 'Catamaran', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    width: 20%;
    height: 20%;
    background-color: white;
    border-radius: 30px;
    padding: 30px;
}

#timer {
    width: 100%;
    font-size: 5rem;
    text-align: center;
    margin: 0 auto;
}

.buttons {
    text-align: center;
    margin-top: 20px;
}

button {
    margin:0 20px;
    border: none;
    background-color: white;
}

button i {
    color: white;
    padding: 8px;
    border-radius: 10px;
}

#play{
    background-color: green;
}

#pause{
    background-color: orange;
}

#reset{
    background-color: red;
}


